body{
    background: rgb(237, 237, 237);
    color: rgb(50, 50, 50);
    margin: 0 20% 0 20%;
    font-family: Verdana, sans;
  }
  img{
    width: 60%;
  }
  div{
    margin: 20px 0 20px 0;
  }
  p{
    line-height: 20px
  }